.stylecont {
    background-image: url('../images/slide-01.jpg');;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .imgtextcont {
    padding-top: 100px;
    }
     .style3{
        font-size:40px;
        margin-top: 10px;
        color: #007bff
    }
    .addstyle{
        margin-top:10px
      }
      .addstyle1{
        height:200px
      }
      .divstyle{
        margin-top:50px;
        margin-bottom: 50px;
      }
      .divstyle1{
        margin-top:15px;
       text-align: center;
      }
      @media only screen and  (max-width: 1120px) {
        .imgmargin2{
          margin-top: 50px;
          height:400px;
        }
      }
      
      @media only screen and (min-width: 1121px) and  (max-width: 1400px) {
        .imgmargin2{
          margin-top: 70px;
          height:500px;
        }
      }
      @media only screen and (min-width: 1401px) and  (max-width: 1700px) {
        .imgmargin2{
          margin-top: 90px;
          height:600px;
        }
      }
      @media only screen and (min-width: 1701px) and  (max-width: 2328px) {
        .imgmargin2{
          margin-top: 140px;
          height:755px;
        }
      }
      
      @media only screen and (min-width: 2329px)  {
        .imgmargin2{
          margin-top: 150px;
          height:800px;
        }
      }