.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bgdata {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.App-link {
  color: #61dafb;
}

.login-form{
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: .25rem;
}
.card1{
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
   
    /* background-color: #fff; */
    background-clip: border-box;
   border: 1px solid rgba(0,0,0,.125); 
    border-radius: .25rem;
}
.active{
  color:"#007bff"
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal-open .modal {
  display: block;
   margin-top: 220px;
 }
 .myButtonClass
 {
   margin-right: 5px;
 }

 .pass-icon{

  position: relative;
  top: -25px;
  right: 5px;
 }


 .firstdata {
  background-image: url('../images/banner.png');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 

}

.seconddata {
  background-image: url('../images/banner2.jpg');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 

}

.thirddata {
  background-image: url('../images/banner-center.jpg');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 

}

@media only screen and  (max-width: 1024px) {
  .imgmargin{
    margin-top: 50px;
    height:700px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1120px) {
  .imgmargin{
    margin-top: 66px;
    height:450px;
  }
}

@media only screen and (min-width: 1121px) and (max-width: 1300px) {
  .imgmargin{
    margin-top: 75px;
    height:450px;
  }
}
@media only screen and (min-width: 1301px) and  (max-width: 1550px) {
  .imgmargin{
    margin-top: 82px;
    height:500px; 
  }
}
@media only screen and (min-width: 1551px) and  (max-width: 1750px) {
  .imgmargin{
    margin-top: 90px;
    height:530px;
  }
}
@media only screen and (min-width: 1751px) and  (max-width: 1850px) {
  .imgmargin{
    margin-top: 94px;
    height:600px;
  }
}
@media only screen and (min-width: 1851px) and  (max-width: 2050px) {
  .imgmargin{
    margin-top: 97px;
    height:670px;
  }
}
@media only screen and (min-width: 2051px) and  (max-width: 2250px) {
  .imgmargin{
    margin-top: 120px;
    height:720px;
  }
}
@media only screen and (min-width: 2251px) and  (max-width: 2450px){
  .imgmargin{
    margin-top: 120px;
    height:780px;
  }
}
@media only screen and (min-width: 2451px) {
  .imgmargin{
    margin-top: 120px;
    height:900px;
  }
}


@media only screen and  (max-width: 759px){
  .medical {
    background-color: #3333FF;
    height: 240px;
    color: white;
  } 
}

@media only screen and (min-width: 760px) and  (max-width: 993px){
  .medical {
    background-color: #3333FF;
    height: 315px;
    color: white;
  } 
}
@media only screen and  (min-width: 994px) and  (max-width: 1199px){
  .medical {
    background-color: #3333FF;
    height: 290px;
    color: white;
  }
}

@media only screen and  (min-width: 1200px){
  .medical {
    background-color: #3333FF;
    height: 240px;
    color: white;
  } 
}


@media only screen and  (max-width: 759px){
  .doctor {
    background-color: #3366FF;
    height: 240px;
    color: white;
  }
}

@media only screen and (min-width: 760px) and  (max-width: 993px){
  .doctor {
    background-color: #3366FF;
    height: 315px;
    color: white;
  }
}

@media only screen and  (min-width: 994px) and  (max-width: 1199px){
  .doctor {
    background-color: #3366FF;
    height: 290px;
    color: white;
  }
}

@media only screen and  (min-width: 1200px){
  .doctor {
    background-color: #3366FF;
    height: 240px;
    color: white;
  }
}


@media only screen and  (max-width: 759px){
  .appointment {
    background-color: #3399FF;
    height: 240px;
    color: white;
  }
}

@media only screen and (min-width: 760px) and  (max-width: 993px){
  .appointment {
    background-color: #3399FF;
    height: 315px;
    color: white;
  }
}

@media only screen and  (min-width: 994px) and  (max-width: 1199px){
  .appointment {
    background-color: #3399FF;
    height: 290px;
    color: white;
  }
}

@media only screen and  (min-width: 1200px){
  .appointment {
    background-color: #3399FF;
    height: 240px;
    color: white;
  }
}


@media only screen and  (max-width: 759px){
  .emergency {
    background-color: #33CCFF;
    height: 240px;
    color: white;
  }
}

@media only screen and (min-width: 760px) and  (max-width: 993px){
  .emergency {
    background-color: #33CCFF;
    height: 315px;
    color: white;
  }
}

@media only screen and  (min-width: 994px) and  (max-width: 1199px){
  .emergency {
    background-color: #33CCFF;
    height: 290px;
    color: white;
  }
}

@media only screen and  (min-width: 1200px){
  .emergency {
    background-color: #33CCFF;
    height: 240px;
    color: white;
  }
}


@media only screen and  (max-width: 759px){
  .equipment {
    height: 300px;
  }
}

@media only screen and (min-width: 760px) and  (max-width: 993px){
  .equipment {
    height: 350px;
  }
}

@media only screen and  (min-width: 994px) and  (max-width: 1199px){
  .equipment {
    height: 320px;
  }
}

@media only screen and  (min-width: 1200px){
  .equipment {
    height: 300px;
  }
}

