
.stylelogin {
    background-image: url('../images/login1.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  @media only screen and (max-width: 350px) {
    .newmargin{
        margin-top: 50px;
        height:400px;
    }
  }

  @media only screen and (min-width: 350px) and  (max-width: 460px) {
    .newmargin{
        margin-top: 65px;
        height:400px;
    }
  }
 
  @media only screen  and (min-width: 461px) and  (max-width: 575px) {
    .newmargin{
        margin-top: 85px;
        height:400px;
    }
  }
 
  @media only screen  and (min-width: 576px) and  (max-width: 600px) {
    .newmargin{
        margin-top: 60px;
        height:400px;
    }
  }
  @media only screen  and (min-width: 601px) and  (max-width: 767px) {
    .newmargin{
        margin-top: 75px;
        height:400px;
    }
  }
  @media only screen and (min-width: 768px) and  (max-width: 991px) {
    .newmargin{
        margin-top: 70px;
        height:400px;
    }
  }
  @media only screen and (min-width: 992px) and  (max-width: 1260px) {
    .newmargin{
        margin-top: 60px;
        height:400px;
    }
  }
  @media screen and (min-width: 1261px) and (max-width: 1650px) {
    .newmargin{
        margin-top: 75px;
        height:400px;
    }
  }
  @media screen and (min-width: 1651px) and (max-width: 1850px) {
    .newmargin{
        margin-top: 95px;
        height:500px;
    }
  }
  @media screen and (min-width: 1851px) and (max-width: 2200px) {
    .newmargin{
        margin-top: 110px;
        height:600px;
    }
  }
  @media screen and (min-width: 2200px)  {
    .newmargin{
        margin-top: 140px;
        height:700px;
    }
  }
  .stylelogin1 {
    background-image: url('../images/third.png');;
    width: 100%;
    height:600px;
    background-repeat: no-repeat;
  }
  .stylelogin2{
      font-size: 40px;
      margin-top: 10px;
      color: #f54785;
  }
  .working{
   background-color: #33CCFF;
    height : 240px;
    color: white
 }
 .doctors{
    background-color: #3399FF;
     height : 240px;
     color: white
  }
  .Appoinment{
    background-color: #3366FF;
     height : 240px;
     color: white
  }
  .Emergency{
    background-color: #3333FF;
     height : 240px;
     color: white
  }
  .addstyledata{
      margin-top: 10px;
  }
  .cardmargin{
      margin-top: -70px;
  }
  .seconddata{
      float: right;
      padding-top: 120px;
  }
  .spandata{
     
      width: 40px;
     
     
  }
  .spandata1{
  
    text-align: center;
    list-style-type: none;
    margin-top: 10px;
    margin-right: 40px;
}
.addstyledata1{
    margin-top: 15px;
}
.pass-icon1 {
    position: relative;
    top: -30px;
  
}

@media only screen and  (max-width: 759px){
  .equipment {
    height: 300px;
  }
}

@media only screen and (min-width: 760px) and  (max-width: 993px){
  .equipment {
    height: 350px;
  }
}

@media only screen and  (min-width: 994px) and  (max-width: 1199px){
  .equipment {
    height: 320px;
  }
}

@media only screen and  (min-width: 1200px){
  .equipment {
    height: 300px;
  }
}
